// base.config


// Profiles
profiles {

    conda {

        conda.enabled       = true
        docker.enabled      = false
        singularity.enabled = false

        process {
            withLabel: 'bcftools' { conda = "${projectDir}/envs/bcftools.yaml" }
            withLabel: 'pysam'    { conda = "${projectDir}/envs/pysam.yaml" }
            withLabel: 'bwa'      { conda = "${projectDir}/envs/bwa.yaml" }
        }

    }

    singularity {

        conda.enabled       = false
        docker.enabled      = false
        singularity.enabled = true

        process {
            withLabel: 'bcftools' { container = 'quay.io/biocontainers/bcftools:1.21--h8b25389_0' }
            withLabel: 'pysam'    { container = 'quay.io/biocontainers/pysam:0.22.0--py310h41dec4a_1' }
            withLabel: 'bwa'      { container = 'quay.io/biocontainers/bwa:0.7.18--he4a0461_1' }
        }

    }

    local {
        process.executor = 'local'
    }

    lsf {

        process {
            executor = 'lsf'
            queue    = 'normal'
            clusterOptions = "-G team274"
        }

        executor {
            queueSize      = 100
            pollInterval   = '10 sec'
            perJobMemLimit = true
        }

    }

}


//


// Processes
process {

    withName: INDEX_BAM {
        cpus   = 2
        memory = { 4.GB * task.attempt }
    }

    withName: FILTER_MT_READS {
        cpus   = 4
        memory = { 8.GB * task.attempt }
    }

    withName: REALIGN_MT_READS {
        cpus   = 4
        memory = { 8.GB * task.attempt }
    }

    withName: ESTIMATE_MT_CN {
        cpus   = 1
        memory = { 4.GB * task.attempt }
    }

    withName: MAKE_TABLES {
        cpus   = 1
        memory = { 4.GB * task.attempt }
    }

    withName: GATHER_TABLES {
        cpus   = 1
        memory = { 16.GB * task.attempt }
    }

    withName: FILTER_MUTS {
        cpus   = 1
        memory = { 8.GB * task.attempt }
    }

    withName: GENOTYPE_MT {
        cpus   = 1
        memory = { 4.GB * task.attempt }
    }

}

// Error strategy
process {
    errorStrategy = 'retry'
    maxRetries    = 2
}

// Tracing
trace {
    enabled   = true
    file      = "trace.txt"
    overwrite = true
}

// Tower
tower {
    enabled = true
}


//
